
@{
    ViewBag.Title = "Home";
}

<h2>Log analyzer</h2>

<div>
    <label>Log file path :</label>
    <input type="text" id="txtLogFilePath" />
</div>
<br />
<div>
    <label>Query :</label>
    <input type="text" id="txtQuery" />
</div>
<br />
<div>
    <input type="button" id="btnQuery" value="Process" />
</div>
<br />
<div id="results">
    
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#results").html('');

        $("#btnQuery").click(function () {

            var path = $("#txtLogFilePath").val();
            var query = $("#txtQuery").val();

            $.ajax({
                type: 'POST',
                url: "LogAnalyzer/Index",
                data: { path: path, query: query },
                success: function(data) {
                    $("#results").html(data);
                }
            });
        });
    });
</script>



